*/Debug/*.obj
*.tlog
*.log
*.idb
*.pdb
.vs
pack
build/
build-*/
Engine/external/source/assimp/
Engine/external/source/glfw-src/
Engine/external/assimp-*.zip
glfw.zip
out/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
*.user
*.suo
*.ilk
*.iobj
*.ipdb
pack.zip
